
{% set master = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins'],
        'service': 'jenkins',
        'config': '/etc/default/jenkins',
        'update_site_url': 'http://updates.jenkins-ci.org/update-center.json'
    },
    'RedHat': {
        'pkgs': ['jenkins'],
        'service': 'jenkins',
        'config': '/etc/sysconfig/jenkins',
        'update_site_url': 'http://updates.jenkins-ci.org/update-center.json'
    },
}, merge=salt['pillar.get']('jenkins:master')) %}

{% set job_builder = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins-job-builder'],
        'dir': {
            'conf': '/etc/jenkins_jobs',
            'base': '/srv/jenkins_jobs'
        },
        'source': {
            'engine': 'pkg'
        }
    },
    'RedHat': {
        'pkgs': ['jenkins-job-builder'],
        'dir': {
            'conf': '/etc/jenkins_jobs',
            'base': '/srv/jenkins_jobs'
        },
        'source': {
            'engine': 'pkg'
        }
    },
}, merge=salt['pillar.get']('jenkins:job_builder')) %}

{% if pillar.system is defined %}
{%- set hostname = pillar.system.name %}
{%- else %}
{%- set hostname = pillar.linux.system.name+'.'+pillar.linux.system.domain %}
{%- endif %}

{% set slave = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['jenkins-slave'],
        'init_script': '/etc/init.d/jenkins-slave',
        'service': 'jenkins-slave',
        'hostname': hostname,
        'config': '/etc/default/jenkins-slave',
    },
    'RedHat': {
        'pkgs': ['jenkins-slave'],
        'init_script': '/etc/init.d/jenkins-slave',
        'hostname': hostname,
        'service': 'jenkins-slave',
        'config': '/etc/sysconfig/jenkins-slave',
    },
}, merge=salt['pillar.get']('jenkins:slave')) %}

{% set param = {'bool': 'Boolean', 'string': 'String', 'text': 'Text', 'choice': 'Choice'}  %}

{% set client = salt['grains.filter_by']({
    'default': {
        'pkgs': ['python-jenkins'],
        'param': param,
        'dir': {
            'salt_root': '/srv/salt/env/dev',
            'jenkins_root': '/srv/jenkins/client',
        }
    },
}, merge=salt['pillar.get']('jenkins:client')) %}
